<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>F.L.O.R.A.L</title>
</head>

<body>
    <div class="container">
        <div class="form-image">
            <img src="/static/img/Foto1.jpg" alt="Imagem da flor">
        </div>

        <div class="form">
            <div class="form-header">
                <h1>F.L.O.R.A.L</h1>
            </div>

            <form method= "POST" action="{{ url_for('predict') }}" id="flowerIdentificationForm">
                <!-- Botões -->
                <div class="button-group">
                    <div class="login-button">
                        <button id="clearFieldsButton"><span>Limpar Campos</span></button>
                    </div>
                    <div class="about-us-button">
                        <button id="aboutUsButton"><a href="{{ url_for('about') }}"><span>Sobre Nós</span></a></button>
                    </div>
                    <div class="about-iris-button">
                        <button id="aboutIrisButton"><a href="{{ url_for('iris') }}"><span>Sobre a Iris</span></a></button>
                    </div>
                </div>

                <!-- Campos de entrada -->
                <div class="input-group">
                    <div class="input-box">
                        <label for="sepalLength">Comprimento da Sépala</label>
                        <input id="sepalLength" type="text" name="sepalLength" placeholder="Comprimento da sépala" required>
                    </div>

                    <div class="input-box">
                        <label for="sepalWidth">Largura da Sépala</label>
                        <input id="sepalWidth" type="text" name="sepalWidth" placeholder="Largura da sépala" required>
                    </div>

                    <div class="input-box">
                        <label for="petalLength">Comprimento da Pétala</label>
                        <input id="petalLength" type="text" name="petalLength" placeholder="Comprimento da pétala" required>
                    </div>

                    <div class="input-box">
                        <label for="petalWidth">Largura da Pétala</label>
                        <input id="petalWidth" type="text" name="petalWidth" placeholder="Largura da pétala" required>
                    </div>
                </div>

                <!-- Botão Continuar -->
                <div class="continue-button">
                    <button type="submit">Continuar</button>
                </div>
            </form>

            <!-- Saída da espécie da íris -->
            <div class="output-container" id="outputContainer">
                <p class="output-text" id="outputText">Espécie da Íris:</p>

             {% if result %}
                <p class="output-result" id="outputResult"> {{ result }}</p>
             {% endif %}
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const clearFieldsButton = document.getElementById('clearFieldsButton');
            const aboutUsButton = document.getElementById('aboutUsButton');
            const aboutIrisButton = document.getElementById('aboutIrisButton');
           // const flowerIdentificationForm = document.getElementById('flowerIdentificationForm');

            clearFieldsButton.addEventListener('click', function (event) {
                event.preventDefault();
                // Adicione aqui o código para limpar os campos do formulário e ocultar a saída
                clearFormFields();
            });

            aboutUsButton.addEventListener('click', function (event) {
                window.location.href = 'about-us.html';
            });

            aboutIrisButton.addEventListener('click', function (event) {
                window.location.href = 'about-iris.html';
            });

            // flowerIdentificationForm.addEventListener('submit', function (event) {
            //     event.preventDefault();
            //     const species = identifyFlower();
            //     updateOutput(species);
            // });

            function clearFormFields() {
                document.getElementById('sepalLength').value = '';
                document.getElementById('sepalWidth').value = '';
                document.getElementById('petalLength').value = '';
                document.getElementById('petalWidth').value = '';

                // Oculta a seção de saída e limpa o conteúdo da espécie
                const outputContainer = document.getElementById('outputContainer');
                const outputResult = document.getElementById('outputResult');

                outputResult.textContent = ''; // Limpa o conteúdo
                outputContainer.style.display = 'none';
            }
            /*
            function identifyFlower() {
                // Adicione aqui a lógica de identificação da espécie da íris
                // Substitua o retorno de exemplo pela lógica real
                return "Espécie X";
            }
            */
            function updateOutput(species) {
                const outputContainer = document.getElementById('outputContainer');
                const outputResult = document.getElementById('outputResult');

                if (species) {
                    outputResult.textContent = species;
                    outputContainer.style.display = 'block';
                } else {
                    outputContainer.style.display = 'none';
                }
            }
        });
    </script>

</body>

</html>
